# Default
[*]
charset = "utf-8"
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript
[*.js]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 4

# XML
[*.xml]
indent_size = 2
