{
  "extends": ["prettier"],
  "ignorePatterns": ["node_modules", "vendor", "libs"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "rules": {
    "semi": "error",
    "space-before-function-paren": ["error", "never"]
  }
}
